In [17]:
import pandas as pd

# girls
girls_data = {
    "Name": ["Evelyn", "Jessica", "Somto", "Edith", "Liza", "Madonna", "Waje", "Tola", "Aisha", "Latifa"],
    "Age": [17, 16, 17, 18, 16, 18, 17, 20, 19, 17],
    "Height": [5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 5.5, 6.0, 5.7, 5.5],
    "Score": [80, 85, 70, 60, 76, 68, 87, 95, 50, 49]
}

# boys
boys_data = {
    "Name": ["Chinedu", "Liam", "Wale", "Gbenga", "Abiola", "Kola", "Kunle", "George", "Thomas", "Wesley"],
    "Age": [19, 16, 18, 17, 20, 19, 16, 18, 17, 19],
    "Height": [5.7, 5.9, 5.8, 6.1, 5.5, 5.5, 5.4, 5.8, 5.5, 5.7],
    "Score": [74, 87, 75, 68, 66, 78, 98, 54, 60, 60]
}

df_girls = pd.DataFrame(girls_data)
df_boys = pd.DataFrame(boys_data)

print("Girls' Data:")
print(df_girls.to_string(index=False))

print("\nBoys' Data:")
print(df_boys.to_string(index=False))

Girls' Data:
   Name  Age  Height  Score
 Evelyn   17     5.5     80
Jessica   16     6.0     85
  Somto   17     5.4     70
  Edith   18     5.9     60
   Liza   16     5.6     76
Madonna   18     5.5     68
   Waje   17     5.5     87
   Tola   20     6.0     95
  Aisha   19     5.7     50
 Latifa   17     5.5     49

Boys' Data:
   Name  Age  Height  Score
Chinedu   19     5.7     74
   Liam   16     5.9     87
   Wale   18     5.8     75
 Gbenga   17     6.1     68
 Abiola   20     5.5     66
   Kola   19     5.5     78
  Kunle   16     5.4     98
 George   18     5.8     54
 Thomas   17     5.5     60
 Wesley   19     5.7     60