BEGIN
DEFINE girls_data AS DICTIONARY
        "Name": ["Evelyn", "Jessica", "Somto", "Edith", "Liza", "Madonna", "Waje", "Tola", "Aisha", "Latifa"]
        "Age": [17, 16, 17, 18, 16, 18, 17, 20, 19, 17]
        "Height": [5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 5.5, 6.0, 5.7, 5.5]
        "Score": [80, 85, 70, 60, 76, 68, 87, 95, 50, 49]

DEFINE boys_data AS DICTIONARY
        "Name": ["Chinedu", "Liam", "Wale", "Gbenga", "Abiola", "Kola", "Kunle", "George", "Thomas", "Wesley"]
        "Age": [19, 16, 18, 17, 20, 19, 16, 18, 17, 19]
        "Height": [5.7, 5.9, 5.8, 6.1, 5.5, 5.5, 5.4, 5.8, 5.5, 5.7]
        "Score": [74, 87, 75, 68, 66, 78, 98, 54, 60, 60]

    
SET df_girls = CONVERT_TO_DATAFRAME(girls_data)
SET df_boys = CONVERT_TO_DATAFRAME(boys_data)

    
PRINT "Girls' Data:"
PRINT CONVERT_TO_STRING(df_girls, REMOVE_INDEX=True)

PRINT "Boys' Data:"
PRINT CONVERT_TO_STRING(df_boys, REMOVE_INDEX=True)

END